<a href="https://colab.research.google.com/github/IlyaYakushevskiy/iml_flipflops/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!rm -d -r  iml_flipflops/
!git clone https://github.com/IlyaYakushevskiy/impl_flipflops #clones repository with all materials

rm: cannot remove 'impl_flipflops/': No such file or directory
Cloning into 'impl_flipflops'...
remote: Enumerating objects: 5, done.
remote: Counting objects: 100% (5/5), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 5 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (5/5), 1.19 MiB | 3.63 MiB/s, done.

In [6]:
import numpy as np
import pandas as pd

df = pd.read_csv("/content/impl_flipflops/train.csv")


X = df.iloc[:, 2:]
#W = np.random.rand(10000,1)
xtx = X.transpose() @ X #10 x 10
Y = df.iloc[:, 1:2 ] #10k x 1 
inv = np.linalg.inv(xtx) # 10 x 10 
inv.shape


#f[:]
#mean = np.mean([1.2,2])
#mean

(10, 10)

In [7]:
invx = inv @ X.transpose() # 10 x 10k
W = invx @ Y 
W

     y
0  0.1
1  0.1
2  0.1
3  0.1
4  0.1
5  0.1
6  0.1
7  0.1
8  0.1
9  0.1

In [34]:
#Y_fin = X @ W
print(X.shape, W.shape)

(10000, 10) (10, 1)

In [10]:
⁄X.shape

(10000, 10)

In [28]:
row = df.iloc[ 2, 2: ]

X @ W

SyntaxError: ignored

In [21]:
X

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280
...,...,...,...,...,...,...,...,...,...,...
9995,-30.453041,1082.680684,-530.579767,602.366643,-2138.290628,-56.632352,1166.444325,-772.096264,-908.987980,-414.216625
9996,2520.830358,-124.883939,18.067992,-998.622811,-1262.733524,-565.107007,-455.238199,555.726945,994.368197,-286.562290
9997,-545.704959,1696.765630,-508.186053,3.620563,-1018.514516,251.561864,-338.181817,1014.142886,-582.528063,638.789847
9998,-367.787118,-568.357801,-721.247794,198.279702,-217.422041,914.756550,443.756638,-306.203642,-949.055902,-448.083485
9999,428.570549,-164.999054,864.962658,-647.662456,720.057730,-337.714761,-2028.548436,726.181981,-1167.830521,-1285.207648